@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body,
#root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: flex;
}
